/* CABEÇALHO */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

.menu div{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

/* SEÇÃO CATEGORIAS */
.categorias__lista{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

/* SEÇÃO DESTAQUES*/
.destaques{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.destaques > :nth-child(2){
    flex-grow: 1;
}

/* SEÇÃO EVENTOS*/
.eventos__lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.30rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item{
    flex-grow: 1;
    max-width: 400px;
}

.eventos__botao{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* SEÇAO AGENDA */
.agenda__lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.30rem;
    row-gap: 1rem;
}

.agenda__item{
    flex-grow: 1;
}

.agenda__botao{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* RODAPÉ */
.rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.rodape > :last-child{
    align-self: end;
}

@media (min-width: 720px) {

    /* CABEÇALHO */
    .menu{
        column-gap: 75px;
    }

    .menu div{
        gap: 5rem;
    }
    
    /* SEÇÃO LISTA DE CATEGORIAS */
    .categorias__lista{
        flex-wrap: wrap;
        row-gap: 0.5rem;
        column-gap: 1.5rem;
    }

    .eventos__botao{
        justify-content: flex-end;
    }

    /* SEÇÃO AGENDA */
    .agenda__botao{
        justify-content: flex-end;
    }
}

@media (min-width:1440px){

    /* CABEÇALHO */
    .menu{
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu div{
        gap: 7rem;
    }

    .menu__item:nth-child(1){
        order: 1;
    }

    .menu div{
        order: 3;
    }

    .menu__pesquisar{
        order: 2;
    }
}